@import url(https://allfont.es/allfont.css?fonts=blackchancery);

main{
    margin: 3em;
    position: relative;
    margin-top: 10%;
}

main img{
    columns: 2 15%;
    column-gap: 2em;
    margin: 2% auto;
    border-radius: 4%;
 }

.title{
    font-family: 'BlackChancery', arial;
    text-shadow: 4px 4px 4px #aaa;
}

div ul{
    text-decoration: none;
    text-align: right;
    padding-right: 5%;
}

#menu-container ul li{
    display: inline;
    text-decoration: none;
    color: #000;
    padding: 2%;
}

nav{
    background-color: #0078d3f5;
    font-size: 180%;
    position: fixed;
    top:0;
    z-index: 10;
    width: 100vw;
}

nav div p{
    font-size: 200%;
    display: inline-block;
}

nav div img{
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}

#logo-container{
    display:inline-block;
    width: 40%;
}

#menu-container{
    display: inline-block;
    width: 59%;
}