@import url(https://allfont.es/allfont.css?fonts=blackchancery);

:root{
    --text-color: hsl(0, 0%, 0%);
    --bg-color: hsl(0, 0%, 90%);
    --img-color: rgb(211, 211, 211);
    --bg-header-color: hsl(214, 84%, 56%);
    --tittle-shadow-color:rgb(170, 170, 170);
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

body.dark{
    --text-color: hsl(0, 0%, 83%);
    --bg-color: hsl(0, 0%, 15%);
    --img-color: hsl(0, 0%, 70%);
    --bg-header-color: hsl(214, 73%, 24%);
    --tittle-shadow-color:hsl(0, 0%, 50%);
}

.tooggle-theme{
    cursor: pointer;
    display: inline-block;
    width: 10%;
    position:absolute;
    top: 20%;
    left: 45%;
}

.tooggle-theme__icon{
    margin-right: .2%;
    vertical-align: middle;
    display:inline-block;
}

.tooggle-theme__text{
    font-size: .5em;
    display: inline-block;
}

.header{
    position: sticky;
    top: 0;
    width: 98.55vw;
    margin: auto;
}

.title{
    font-family: 'BlackChancery', arial;
    text-shadow: 4px 4px 4px var(--tittle-shadow-color);
}

div ul{
    text-align: right;
    padding-right: 2%;
}

#menu-container ul li{
    display: inline;
    text-decoration: none;
    color: #000;
    padding: 2%;
}

nav{
    background-color: var(--bg-header-color);
    font-size: 180%;
    top:0;
    width: inherit;
}

#logo-container p{
    font-size: 2em;
    display: inline-block;
}

#logo-container img{
    display: inline-block;
    width: 5vw;
    vertical-align: middle;
}

#logo-container{
    display:inline-block;
    width: 37%;
}

#menu-container{
    display: inline-block;
    width: 25%;
    position: absolute;
    top: 20%;
    right: 0;
}

#menu-container a{
    text-decoration: none;
    color: var(--text-color);
}

#menu-container li:hover{
    background-color: var(--img-color);
}

#main{
    columns: 5 5vw;
    margin: 2vw;
    column-gap: .5vw;
}

.images{
    border-radius: 5%;
    background-color: var(--img-color);
    margin-bottom: .5vw;
    display:block;
}

.images:hover {
    filter: opacity(0.9);
  }

li: